<app-page-wrapper>
    <app-mobile-collapsible-content page-action>
        <mat-checkbox
            [ngModel]="getCurrentMembersOnly$.value"
            (ngModelChange)="getCurrentMembersOnly$.next($event)"
        >
            Only display active members
        </mat-checkbox>
    </app-mobile-collapsible-content>

    <app-two-column-layout>
        <ng-container left-column>
            <app-data-grid>
                <ag-grid-angular
                    *appLoadingUntilFirstEmit="let members of members$"
                    appGridFillHeight
                    [(appGridSingleSelection)]="selectedMember"
                    (appGridSingleSelectionChange)="setSelectedMemberId($event)"
                    [columnDefs]="columns"
                    [rowData]="members"
                />
            </app-data-grid>
        </ng-container>

        <ng-container right-column>
            <app-performance-summary
                *ngIf="!!selectedMember; else noSelection"
                [member]="selectedMember"
            ></app-performance-summary>
            <ng-template #noSelection>
                <p class="no-selection-text">
                    Select someone from the table to see their performance history
                </p>
            </ng-template>
        </ng-container>
    </app-two-column-layout>
</app-page-wrapper>
