@use "dl";

app-badge {
    margin-left: 0.5rem;
    background-color: hsl(0, 0%, 75%);
}

.summary-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;

    @media (min-width: 992px) {
        grid-template-columns: 5fr 7fr;
    }

    @media (min-width: 1200px) {
        grid-template-columns: 4fr 8fr;
    }

    > div {
        min-width: 0;
    }
}

dl {
    @include dl.mobile-friendly-dl();
}

.member-summary {
    margin-top: 1rem;
}

ag-charts.member-breakdown {
    display: block;
    height: 300px;
}

app-chip-selection {
    display: flex;
    justify-content: center;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
}

mat-accordion {
    display: block;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

ag-charts.yearly-history {
    display: block;
    height: 500px;
}
