mat-tab-group {
    height: 100%;
}

mat-icon {
    margin-right: 0.25rem;
}

h3 {
    margin-bottom: 0;
}

.tab-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}
