<mat-expansion-panel *ngIf="memberInvoice$ | async as memberInvoice">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <span class="invoice-and-name">
                <span class="invoice-reference">{{ memberInvoice.reference }}:</span>
                <span class="member-name">
                    {{ memberInvoice.member?.firstName || "" }}
                    {{ memberInvoice.member?.lastName || "" }}
                </span>
            </span>
        </mat-panel-title>
        <mat-panel-description>
            <ng-container *ngIf="!memberInvoice.paid">
                <mat-icon
                    *ngIf="status$ | async as status"
                    class="send-status-icon"
                    [ngClass]="{ error: status.value === SendStatus.Failed }"
                    [matTooltip]="status.tooltip"
                >
                    {{ status.icon }}
                </mat-icon>
            </ng-container>

            <app-member-invoice-state-badge
                [invoice]="memberInvoice"
                [billingPeriod]="memberInvoice.memberBillingPeriod"
            >
            </app-member-invoice-state-badge>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <dl class="info-list">
            <ng-container *ngIf="memberInvoice.sent as sent">
                <dt>Last sent:</dt>
                <dd>{{ sent | appDateTime }}</dd>
            </ng-container>
            <ng-container *ngIf="memberInvoice.paid as paid">
                <dt>Paid:</dt>
                <dd>{{ paid | date }}</dd>
            </ng-container>
            <ng-container *ngIf="memberInvoice.sendStatusMessage as message">
                <dt class="dt-status">Delivery Status:</dt>
                <dd class="dd-status">
                    <ng-container *ngIf="memberInvoice.sendStatusUpdated as updated">
                        {{ updated | appDateTime }}:
                    </ng-container>
                    {{ message }}
                </dd>
            </ng-container>
        </dl>

        <app-member-invoice-line-items-grid
            [memberInvoice]="memberInvoice"
            [canEdit]="canEdit$ | async"
            (lineItemAdded)="entityTracker.add($event)"
            (lineItemDeleted)="changeDetectorRef.markForCheck()"
        >
        </app-member-invoice-line-items-grid>

        <mat-form-field class="notes-field">
            <mat-label>Notes</mat-label>
            <textarea
                matInput
                cdkTextareaAutosize
                [cdkAutosizeMinRows]="1"
                [cdkAutosizeMaxRows]="10"
                [(ngModel)]="memberInvoice.notes"
                [readonly]="(canEdit$ | async) === false"
            ></textarea>
            <mat-hint
                >These notes are only for internal use and will not be shown to the
                member.</mat-hint
            >
        </mat-form-field>

        <mat-checkbox
            [(ngModel)]="memberInvoice.isConcession"
            [disabled]="(canEdit$ | async) === false"
        >
            Categorise this invoice as concession
        </mat-checkbox>

        <app-async-button-group
            *ngIf="(canEdit$ | async) && entityTracker.hasChanges()"
            class="entity-actions"
        >
            <button
                [disabled]="entityTracker.hasValidationErrors()"
                mat-raised-button
                mobileFriendly
                color="primary"
                [asyncClick]="saveChanges"
            >
                <app-icon-text-pair
                    icon="save"
                    text="Save"
                ></app-icon-text-pair>
            </button>
            <button
                mat-button
                mobileFriendly
                [asyncClick]="cancelChanges"
            >
                <app-icon-text-pair
                    icon="undo"
                    text="Revert changes"
                ></app-icon-text-pair>
            </button>
        </app-async-button-group>
    </ng-template>
    <mat-action-row *ngIf="billingPeriod$ | async as billingPeriod">
        <button
            mat-button
            mobileFriendly
            *ngIf="billingPeriod?.state !== BillingPeriodState.Draft"
            [asyncClick]="downloadInvoice"
        >
            <app-icon-text-pair
                icon="download"
                text="Download"
            ></app-icon-text-pair>
        </button>
        <button
            *ngIf="
                (hasWritePermissions$ | async) &&
                billingPeriod?.isAcceptingPayments &&
                !memberInvoice?.paid
            "
            mat-button
            mobileFriendly
            (click)="markInvoiceAsPaid(memberInvoice)"
        >
            <app-icon-text-pair
                icon="price_check"
                text="Mark as paid"
            ></app-icon-text-pair>
        </button>
        <button
            *ngIf="canEdit$ | async"
            mat-button
            mobileFriendly
            (click)="deleteInvoice(memberInvoice)"
        >
            <app-icon-text-pair
                icon="delete"
                text="Delete"
            ></app-icon-text-pair>
        </button>
        <button
            *ngIf="
                (hasWritePermissions$ | async) && billingPeriod?.state !== BillingPeriodState.Draft
            "
            mat-button
            mobileFriendly
            (click)="sendInvoice(memberInvoice)"
        >
            <app-icon-text-pair
                icon="send"
                text="Send"
            ></app-icon-text-pair>
        </button>
    </mat-action-row>
</mat-expansion-panel>
