<app-help-center-page helpTitle="Members">
    <p>
        Members are central almost everything in Orchestrate - without them you wouldn't have a
        community music group! They perform in ensembles, pay their fees and borrow instruments.
    </p>
    <p>
        The members page lists all current members and their associated data, but you can also
        include past members in the list. Each member has an associated "Fee Class" which controls
        the discount, if any, they will receive for invoices in the ensembles they pay in. If you
        would like to invite a member to use Orchestrate you can do so by clicking the send icon at
        the end of the row with their name.
    </p>
    <p>
        There is also the Member Dashboard which allows you to see the number of performances each
        member has taken part in and then list each performance.
    </p>

    <app-help-data-hook-call-to-action
        [dataHooks]="memberHelpData$ | async"
        callToActionText="Add Member"
    >
        You'll want at least a couple of members to make Orchestrate useful, so let's add one or
        two.
    </app-help-data-hook-call-to-action>
</app-help-center-page>
