<app-page-wrapper [hasDefaultContainer]="false">
    <app-chip-selection
        [chips]="chips"
        [selection]="[selectedCategory$.value]"
        (selectionChange)="selectedCategory$.next($event[0])"
    ></app-chip-selection>

    <app-data-grid
        #dataGrid
        [allowAdding]="true"
        [addRow]="addContact"
        [allowEditing]="true"
        [editRow]="editContact"
        [allowDeleting]="true"
        [deleteRow]="deleteContact"
        [displayActionsInToolbar]="true"
        allowExportWithFilename="contacts.csv"
    >
        <ag-grid-angular
            *appLoadingIfUndefined="let contacts of contacts$"
            appGridFillHeight
            [columnDefs]="columns$ | async"
            [rowData]="contacts"
            (rowDataUpdated)="dataHooks.hasNoData$.next($event.api.getRenderedNodes().length === 0)"
        />
    </app-data-grid>
</app-page-wrapper>
