<form [formGroup]="formGroup">
    <mat-form-field class="full-row">
        <mat-label>Name</mat-label>
        <input
            matInput
            formControlName="name"
            (keyup)="setSlugFromName()"
        />
        <mat-error appAggregateFormControlNameErrors="name" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Allowed Senders</mat-label>
        <mat-select formControlName="allowedSenders">
            <mat-option [value]="0">Committee &amp; Administrators</mat-option>
            <mat-option [value]="1">Recipients</mat-option>
            <mat-option [value]="2">Anyone</mat-option>
        </mat-select>
        <mat-hint>Who can send emails to this list</mat-hint>
        <mat-error appAggregateFormControlNameErrors="allowedSenders" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>By default replies go to</mat-label>
        <mat-select formControlName="replyTo">
            <mat-option [value]="0">The mailing list</mat-option>
            <mat-option [value]="1">Sender of the email</mat-option>
        </mat-select>
        <mat-hint>Recipients can still override this</mat-hint>
        <mat-error appAggregateFormControlNameErrors="replyTo" />
    </mat-form-field>
    <mat-form-field
        class="full-row"
        subscriptSizing="dynamic"
    >
        <mat-label>Identifier</mat-label>
        <input
            matInput
            formControlName="slug"
        />
        <mat-hint>
            Used in the address and must consist of only letters, numbers and dashes
        </mat-hint>
        <mat-error appAggregateFormControlNameErrors="slug" />
    </mat-form-field>
    <mat-form-field
        *ngIf="addressParameters"
        class="full-row"
        subscriptSizing="dynamic"
    >
        <mat-label>Generated Email Address</mat-label>
        <input
            matInput
            disabled
            [value]="fullAddress$ | async"
        />
        <mat-hint>Send to this address to email all recipients</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-row">
        <mat-label>Email footer</mat-label>
        <textarea
            matInput
            formControlName="footer"
            cdkTextareaAutosize
            [cdkAutosizeMinRows]="3"
            [cdkAutosizeMaxRows]="10"
        ></textarea>
        <mat-hint>Optional, appended to the first email in a thread</mat-hint>
        <mat-error appAggregateFormControlNameErrors="footer" />
    </mat-form-field>
</form>
