@use "responsive";

@mixin mobile-friendly-dl($template-columns: auto 1fr, $mobile-template-columns: 1fr) {
    display: grid;
    grid-template-columns: $template-columns;
    word-break: break-word;

    dt {
        font-weight: 500;
    }

    dd {
        margin-left: 1rem;
    }

    @include responsive.mobile-only() {
        grid-template-columns: $mobile-template-columns;

        dt:not(:first-child) {
            margin-top: 0.5rem;
        }

        dd {
            margin-left: 0;
        }
    }

    @include responsive.desktop-only {
        dt {
            grid-column: 1;
        }

        dd {
            grid-column: 2;
        }
    }
}
