app-badge {
    margin-left: 0.5rem;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    mat-card {
        flex: 1;
        min-width: 350px;

        @media (min-width: 600px) {
            min-width: 450px;
        }

        @media (min-width: 992px) {
            min-width: 600px;
        }
    }
}

app-tag-box,
.recipient-selector {
    display: block;
    margin-top: 1rem;
}

ag-grid-angular {
    margin: 0 -1rem;
    border: 0;
}

.recipient-count {
    margin: 0.75rem 1rem;
    text-align: right;
}
