<div
    *appAsyncIf="let billingConfig of memberBillingConfig$; else: noBillingConfigTemplate"
    class="billing-settings"
>
    <mat-card>
        <mat-card-header>
            <mat-card-title>General</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-checkbox
                [(ngModel)]="billingConfig.isEnabled"
                [disabled]="!!(hasUnclosedBillingPeriods$ | async)"
                matTooltip="You can only turn off automated billing if all billing periods are closed"
                [matTooltipDisabled]="(hasUnclosedBillingPeriods$ | async) === false"
            >
                Enable automated member billing
            </mat-checkbox>
            <mat-divider></mat-divider>
            <div class="form-grid form-top-divided">
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>Notification contact name</mat-label>
                    <input
                        matInput
                        type="text"
                        [(ngModel)]="billingConfig.notificationContactName"
                        required
                    />
                    <mat-hint>Will be used in billing emails sent to members</mat-hint>
                </mat-form-field>
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>Notification contact email</mat-label>
                    <input
                        matInput
                        type="email"
                        [(ngModel)]="billingConfig.notificationContactEmail"
                        required
                    />
                    <mat-hint>Will be used in billing emails sent to members</mat-hint>
                </mat-form-field>
                <mat-form-field class="new-row">
                    <mat-label>Invoice prefix</mat-label>
                    <input
                        matInput
                        type="text"
                        required
                        [(ngModel)]="billingConfig.invoicePrefix"
                    />
                    <mat-hint>Changes only impact future invoices</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Next invoice reference</mat-label>
                    <input
                        matInput
                        type="text"
                        [ngModel]="nextInvoiceReference(billingConfig)"
                        disabled
                    />
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Payment Information</mat-card-title>
            <mat-card-subtitle>
                This information will be added to invoices in order to give payment instructions.
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="form-grid">
            <mat-form-field>
                <mat-label>Bank name</mat-label>
                <input
                    matInput
                    type="text"
                    [(ngModel)]="billingConfig.bankName"
                />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Bank account name</mat-label>
                <input
                    matInput
                    type="text"
                    [(ngModel)]="billingConfig.bankAccountName"
                />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Bank BSB</mat-label>
                <input
                    matInput
                    type="text"
                    [(ngModel)]="billingConfig.bankBsb"
                    required
                />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Bank Account Number</mat-label>
                <input
                    matInput
                    type="text"
                    [(ngModel)]="billingConfig.bankAccountNo"
                    required
                />
            </mat-form-field>
            <mat-form-field class="full-row">
                <mat-label>Payment instructions</mat-label>
                <textarea
                    matInput
                    cdkTextareaAutosize
                    [cdkAutosizeMinRows]="3"
                    [cdkAutosizeMaxRows]="10"
                    [(ngModel)]="billingConfig.paymentInstructions"
                ></textarea>
            </mat-form-field>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Billing Periods</mat-card-title>
            <mat-card-subtitle>
                Generated billing periods will prefixed with the current year. For example: "{{
                    exampleBillingPeriodName$ | async
                }}". Billing periods cannot overlap and need to be in chronological order.
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content
            *appLoadingUntilFirstEmit="let billingPeriodConfigs of billingPeriodConfigs$"
        >
            <div class="form-grid">
                <mat-form-field>
                    <mat-label>How often do you bill members?</mat-label>
                    <mat-select
                        [ngModel]="billingPeriodConfigs.length"
                        (ngModelChange)="updateBillingPeriods(billingPeriodConfigs, $event)"
                    >
                        <mat-option [value]="1">Yearly</mat-option>
                        <mat-option [value]="2">Twice Yearly</mat-option>
                        <mat-option [value]="4">Quarterly</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <ng-container
                *ngFor="
                    let billingPeriodConfig of billingPeriodConfigs;
                    let index = index;
                    let last = last
                "
            >
                <mat-divider></mat-divider>

                <div
                    class="form-grid form-top-divided"
                    [ngClass]="{ 'form-bottom-divided': !last }"
                >
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input
                            matInput
                            type="text"
                            [(ngModel)]="billingPeriodConfig.name"
                            required
                        />
                    </mat-form-field>

                    <app-select-month
                        class="new-row"
                        [(month)]="billingPeriodConfig.autoGenerateMonth"
                        label="Generation month"
                        hint="Invoices will be automatically generated at the start of this month"
                        [min]="getAutoGenerateMinMonth(billingPeriodConfigs, index)"
                        [max]="billingPeriodConfig.endOfPeriodMonth"
                    >
                    </app-select-month>
                    <app-select-month
                        [(month)]="billingPeriodConfig.endOfPeriodMonth"
                        label="Due month"
                        hint="Invoices will be due at the end of this month"
                        [min]="billingPeriodConfig.autoGenerateMonth"
                        [max]="getEndOfPeriodMaxMonth(billingPeriodConfigs, index)"
                    >
                    </app-select-month>
                </div>
            </ng-container>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Fees</mat-card-title>
            <mat-card-subtitle>
                This information will be used when generating an invoice for a single billing
                period. The association fee will be applied to every non special member who is
                currently in at least one ensemble and is not affected by concession status. Each
                non-zero ensemble fee will be applied to the applicable members (active and not an
                invited player) and will be multiplied by the concession rate.
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="form-grid">
                <mat-form-field>
                    <mat-label>Concession rate</mat-label>
                    <input
                        matInput
                        type="number"
                        min="0"
                        max="100"
                        step="1"
                        [ngModel]="billingConfig.concessionRate * 100"
                        (ngModelChange)="billingConfig.concessionRate = $event / 100"
                        required
                    />
                    <span matTextSuffix>%</span>
                </mat-form-field>

                <mat-form-field class="new-row">
                    <mat-label>Early bird period discount</mat-label>
                    <span matTextPrefix>$&nbsp;</span>
                    <input
                        matInput
                        type="number"
                        min="0"
                        step="1"
                        [(ngModel)]="billingConfig.earlyBirdDiscountDollars"
                        required
                    />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Early bird discount duration</mat-label>
                    <input
                        matInput
                        type="number"
                        min="0"
                        max="90"
                        step="1"
                        [(ngModel)]="billingConfig.earlyBirdDiscountDaysValid"
                        required
                    />
                    <span matTextSuffix>days</span>
                </mat-form-field>
            </div>

            <mat-divider></mat-divider>

            <div class="form-grid form-top-divided">
                <mat-form-field>
                    <mat-label>Association fee</mat-label>
                    <span matTextPrefix>$&nbsp;</span>
                    <input
                        matInput
                        type="number"
                        min="0"
                        step="1"
                        [(ngModel)]="billingConfig.associationPeriodFeeDollars"
                        required
                    />
                </mat-form-field>

                <ng-container *ngFor="let ensemble of billedEnsembles$ | async; let first = first">
                    <mat-form-field [ngClass]="{ 'new-row': first }">
                        <mat-label>{{ ensemble.name }} full fee</mat-label>
                        <span matTextPrefix>$&nbsp;</span>
                        <input
                            matInput
                            type="number"
                            min="0"
                            step="1"
                            [(ngModel)]="ensemble.memberBillingPeriodFeeDollars"
                            required
                        />
                        <mat-hint *ngIf="ensemble.memberBillingPeriodFeeDollars === 0">
                            No fees will be charged for this ensemble
                        </mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{ ensemble.name }} concession fee</mat-label>
                        <span matTextPrefix>$&nbsp;</span>
                        <input
                            matInput
                            type="number"
                            [ngModel]="
                                ensemble.memberBillingPeriodFeeDollars *
                                billingConfig.concessionRate
                            "
                            disabled
                        />
                    </mat-form-field>
                </ng-container>
            </div>

            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>Free ensembles</mat-expansion-panel-header>
                <p>These ensembles will not be added to invoices</p>
                <div class="form-grid">
                    <ng-container *ngFor="let ensemble of freeEnsembles$ | async">
                        <mat-form-field>
                            <mat-label>{{ ensemble.name }} full fee</mat-label>
                            <span matTextPrefix>$&nbsp;</span>
                            <input
                                matInput
                                type="number"
                                min="0"
                                step="1"
                                [(ngModel)]="ensemble.memberBillingPeriodFeeDollars"
                                required
                            />
                        </mat-form-field>
                    </ng-container>
                </div>
            </mat-expansion-panel>
        </mat-card-content>
    </mat-card>
</div>

<ng-template #noBillingConfigTemplate>
    <app-get-started>
        <ng-container get-started-content>
            Member billing allows you to automatically generate invoices on a schedule, email them
            to members and send reminders when they haven't paid as well as track key billing
            statistics over time. You can configure billing frequency, ensemble fees and any early
            bird discounts from here.
        </ng-container>
        <ng-container get-started-actions>
            <button
                mat-raised-button
                color="primary"
                (click)="createBillingConfig()"
            >
                Get started
            </button>
        </ng-container>
    </app-get-started>
</ng-template>
