app-badge {
    margin-left: 0.5rem;
    background-color: orange;
}

.editing-container {
    display: flex;
    flex-direction: column;
    margin: -0.5rem;

    .left-column,
    .right-column {
        margin: 0.5rem;
    }

    @media (min-width: 992px) {
        flex-direction: row;

        .left-column {
            flex: 1;
            max-width: 400px;
        }

        .right-column {
            flex: 2;
        }
    }
}

mat-card + mat-card {
    margin-top: 1rem;
}

mat-card-content {
    margin-top: 0.5rem;
}

.performance-list-card,
.performance-card {
    mat-card-header {
        button {
            margin-left: auto;
            align-self: center;
        }
    }
}

.not-selected-card {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    button {
        margin-top: 0.5rem;
    }
}
