<mat-toolbar>
    <mat-icon>help</mat-icon>
    <h3 class="help-center-link">
        <a
            *ngIf="helpTitle; else helpCenterTemplate"
            [appHelpRouterLink]="['view']"
            >Help Centre</a
        >
        <ng-template #helpCenterTemplate> Help Centre </ng-template>
    </h3>
    <ng-container *ngIf="helpTitle">
        <mat-icon>chevron_right</mat-icon>
        <h3 class="help-title">{{ helpTitle }}</h3>
    </ng-container>
</mat-toolbar>

<div class="content">
    <ng-container *ngIf="prependCurrentPageHelp">
        <ng-container *ngIf="otherApplicableHelp$ | async as otherApplicableHelp">
            <div
                *ngIf="otherApplicableHelp.length > 0"
                class="relevant-help"
            >
                <p>Looking for help on the current page? The following topics are available:</p>
                <ul>
                    <li>
                        <a
                            *ngFor="let help of otherApplicableHelp"
                            [appHelpRouterLink]="help.commands"
                        >
                            {{ help.name }}
                        </a>
                    </li>
                </ul>
                <mat-divider></mat-divider>
            </div>
        </ng-container>
    </ng-container>

    <ng-content></ng-content>

    <ng-container *ngIf="continueTourUrl$ | async as continueTourUrl">
        <ng-container *ngIf="(isXl$ | async) === false">
            <p>
                Minimise the tour to take a look around, and click the help button at the top of the
                page to return when you're ready.
            </p>
            <a
                mat-stroked-button
                color="primary"
                [appHelpRouterLink]="null"
            >
                Minimise
            </a>
        </ng-container>

        <p>Once you're ready, you can continue the tour.</p>
        <a
            mat-stroked-button
            color="primary"
            [appUrlTreeRouterLink]="continueTourUrl"
        >
            Continue Tour
        </a>
    </ng-container>
</div>
