<app-page-wrapper
    [hideDefaultToolbar]="true"
    *appLoadingUntilFirstEmit="let summary of summary$"
>
    <app-two-column-layout *ngIf="summary.personal; else tenantSummaryTemplate">
        <div
            left-column
            class="dashboard-grid"
        >
            <mat-card *ngIf="summary.personal.details as details">
                <mat-card-header>
                    <mat-card-title>
                        {{ details.name }}
                    </mat-card-title>
                    <mat-card-subtitle>
                        Please contact a member of your committee to change these details.
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <dl>
                        <ng-container *ngIf="details.email">
                            <dt>Email:</dt>
                            <dd>{{ details.email }}</dd>
                        </ng-container>
                        <ng-container *ngIf="details.address">
                            <dt>Address:</dt>
                            <dd>{{ details.address }}</dd>
                        </ng-container>
                        <ng-container *ngIf="details.phoneNo">
                            <dt>Phone No:</dt>
                            <dd>{{ details.phoneNo }}</dd>
                        </ng-container>
                        <ng-container *ngIf="details.feeClass">
                            <dt>Fee Class:</dt>
                            <dd>{{ details.feeClass }}</dd>
                        </ng-container>
                        <ng-container *ngIf="details.instruments.length > 0">
                            <dt>Instruments:</dt>
                            <dd *ngFor="let instrument of details.instruments">
                                {{ instrument }}
                            </dd>
                        </ng-container>
                    </dl>
                    @if (summary.personal.currentMembership.length > 0) {
                        <mat-divider></mat-divider>
                        <h3>Member of:</h3>
                        <dl>
                            @for (m of summary.personal.currentMembership; track m.ensembleId) {
                                <dt>{{ m.ensembleName }}:</dt>
                                <dd>Since {{ m.dateJoined | date }}</dd>
                            }
                        </dl>
                    }
                    @if (summary.personal.mailingLists.length > 0) {
                        <mat-divider></mat-divider>
                        <h3>Mailing Lists:</h3>
                        <dl>
                            @for (ml of summary.personal.mailingLists; track ml.id) {
                                <dt>{{ ml.name }}</dt>
                                <dd>
                                    <a
                                        class="stealth-link"
                                        [href]="'mailto:' + ml.address"
                                        >{{ ml.address }}</a
                                    >
                                </dd>
                            }
                        </dl>
                    }
                </mat-card-content>
            </mat-card>

            <mat-card *ngIf="performanceSummaryChartOptions$ | async as chartOptions">
                <mat-card-header>
                    <mat-card-title>
                        <a
                            class="stealth-link"
                            [routerLink]="memberDashboardCommands"
                        >
                            {{ summary.personal.totalPerformanceCount }} performances
                        </a>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <ag-charts [options]="chartOptions"></ag-charts>
                </mat-card-content>
            </mat-card>

            <ng-container *ngIf="billingList$ | async as billingList">
                <mat-card *ngIf="billingList.length > 0">
                    <mat-card-header>
                        <mat-card-title>My Invoices</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <ng-container *ngFor="let billing of billingList">
                            <div class="invoice-title">
                                <h3>{{ billing.invoice.billingPeriodName }}</h3>
                                <app-member-invoice-state-badge
                                    [invoice]="billing.invoice"
                                    [billingPeriod]="billing.billingPeriod"
                                >
                                </app-member-invoice-state-badge>
                            </div>
                            <div class="invoice-details">
                                {{ billing.invoice.total | currency }}
                                <ng-container *ngIf="billing.invoice.paid; else dueTemplate">
                                    paid {{ billing.invoice.paid | date }}
                                </ng-container>
                                <ng-template #dueTemplate>
                                    due {{ billing.invoice.due | date }}
                                </ng-template>
                            </div>
                        </ng-container>
                    </mat-card-content>
                </mat-card>
            </ng-container>

            <mat-card *ngIf="summary.personal.loanedAssets.length > 0">
                <mat-card-header>
                    <mat-card-title>On Loan</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div
                        *ngFor="let asset of summary.personal.loanedAssets"
                        class="asset-loan"
                    >
                        <div>
                            {{ asset.assetDescription }}
                            <ng-container *ngIf="asset.serialNo"
                                >- {{ asset.serialNo }}</ng-container
                            >
                        </div>
                        <div>Borrowed on {{ asset.dateBorrowed | date }}</div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <ng-container
            right-column
            [ngTemplateOutlet]="tenantSummaryTemplate"
        >
        </ng-container>
    </app-two-column-layout>

    <ng-template #tenantSummaryTemplate>
        <div class="dashboard-grid">
            <mat-card *ngIf="summary.tenant.details as details">
                <img
                    *ngIf="logo$ | async as logo"
                    mat-card-image
                    [src]="logo.src"
                    [alt]="logo.alt"
                />

                <mat-card-header>
                    <mat-card-title>
                        <a
                            *ngIf="details.website; else nameTemplate"
                            class="stealth-link"
                            [href]="details.website"
                            target="_blank"
                        >
                            {{ details.name }}
                        </a>
                        <ng-template #nameTemplate>
                            {{ details.name }}
                        </ng-template>
                    </mat-card-title>
                    <mat-card-subtitle *ngIf="details.dateFounded">
                        Founded {{ details.dateFounded | date }}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <dl>
                        <ng-container *ngIf="summary.tenant.assets as assets">
                            <dt>
                                <a
                                    class="stealth-link"
                                    [routerLink]="['..', 'assets']"
                                    >Assets</a
                                >:
                            </dt>
                            <dd>{{ assets.count }} assets</dd>
                            <dd *ngIf="assets.onLoanCount > 0">
                                {{ assets.onLoanCount }} assets on loan
                            </dd>
                        </ng-container>
                        <ng-container *ngIf="summary.tenant.musicLibrary as musicLibrary">
                            <dt>
                                <a
                                    class="stealth-link"
                                    [routerLink]="['..', 'music-library']"
                                    >Music Library</a
                                >:
                            </dt>
                            <dd>{{ musicLibrary.count }} scores</dd>
                            <dd *ngIf="musicLibrary.neverPlayedCount > 0">
                                {{ musicLibrary.neverPlayedCount }} have never been played
                            </dd>
                            <dd *ngIf="musicLibrary.performedInLastYearCount">
                                {{ musicLibrary.performedInLastYearCount }} performed in the last 12
                                months
                            </dd>
                        </ng-container>
                        <ng-container *ngIf="summary.tenant.contacts as contacts">
                            <ng-container *ngIf="contacts.currentCount > 0">
                                <dt>
                                    <a
                                        class="stealth-link"
                                        [routerLink]="['..', 'contacts']"
                                        >Contacts</a
                                    >:
                                </dt>
                                <dd>{{ contacts.currentCount }} contacts</dd>
                            </ng-container>
                        </ng-container>
                    </dl>

                    <ng-container *ngIf="summary.tenant.ensembleSummaries.length === 1">
                        <mat-divider></mat-divider>

                        <ng-container
                            [ngTemplateOutlet]="ensembleSummaryTemplate"
                            [ngTemplateOutletContext]="{
                                $implicit: summary.tenant.ensembleSummaries[0],
                            }"
                        ></ng-container>
                    </ng-container>
                </mat-card-content>
            </mat-card>

            <mat-card *ngIf="summary.tenant.ensembleSummaries.length > 1">
                <mat-card-header>
                    <mat-card-title>
                        <a
                            class="stealth-link"
                            [routerLink]="['..', 'ensembles']"
                        >
                            Top Ensembles
                        </a>
                    </mat-card-title>
                    <mat-card-subtitle>By size, then performance count</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <ng-container *ngFor="let summary of summary.tenant.ensembleSummaries">
                        <ng-container
                            [ngTemplateOutlet]="ensembleSummaryTemplate"
                            [ngTemplateOutletContext]="{ $implicit: summary }"
                        ></ng-container>
                    </ng-container>
                </mat-card-content>
            </mat-card>
            <ng-template
                #ensembleSummaryTemplate
                let-summary
            >
                <h3>
                    <a
                        class="stealth-link"
                        [routerLink]="['..', 'ensembles', summary.id]"
                    >
                        {{ summary.name }}
                    </a>
                </h3>
                <div>{{ summary.memberCount }} members</div>
                <div *ngIf="summary.firstConcertDate">
                    {{ summary.concertCount }} performances since
                    {{ summary.firstConcertDate | date }}
                </div>
            </ng-template>

            <mat-card *ngIf="membershipSnapshotChartOptions$ | async as chartOptions">
                <mat-card-header>
                    <mat-card-title>At a glance</mat-card-title>
                    <mat-card-subtitle>Membership in the last 12 months</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <ag-charts [options]="chartOptions"></ag-charts>
                </mat-card-content>
            </mat-card>

            <mat-card *ngIf="summary.tenant.lastConcert as lastConcert">
                <img
                    *ngIf="lastConcert.coverPhotoBlobId as blobId"
                    mat-card-image
                    [appBlobImage]="blobId"
                />
                <mat-card-header>
                    <mat-card-title>
                        <a
                            class="stealth-link"
                            [routerLink]="['..', 'concerts', lastConcert.id]"
                        >
                            {{ lastConcert.occasion }}
                        </a>
                    </mat-card-title>
                    <mat-card-subtitle>
                        Last concert performed on {{ lastConcert.date | date }}
                        <ng-container *ngIf="lastConcert.location">
                            at {{ lastConcert.location }}
                        </ng-container>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <ng-container *ngFor="let performance of lastConcert.performances">
                        <h3>
                            <a
                                class="stealth-link"
                                [routerLink]="[
                                    '..',
                                    'concerts',
                                    lastConcert.id,
                                    { focussedPerformance: performance.id },
                                ]"
                            >
                                {{ performance.ensembleName }}
                            </a>
                        </h3>
                        <div>{{ performance.memberCount }} members performed</div>
                        <div>{{ performance.pieceCount }} pieces performed</div>
                    </ng-container>
                </mat-card-content>
            </mat-card>

            <mat-card *ngIf="summary.tenant.latestBillingPeriods.length > 0">
                <mat-card-header>
                    <mat-card-title>
                        <a
                            class="stealth-link"
                            [routerLink]="['..', 'member-billing']"
                        >
                            Latest Billing Periods
                        </a>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <ng-container *ngFor="let billingPeriod of summary.tenant.latestBillingPeriods">
                        <div class="billing-period-title">
                            <h3>
                                <a
                                    class="stealth-link"
                                    [routerLink]="[
                                        '..',
                                        'member-billing',
                                        'period',
                                        billingPeriod.id,
                                    ]"
                                >
                                    {{ billingPeriod.name }}
                                </a>
                            </h3>
                            <app-billing-period-state-badge
                                [billingPeriod]="billingPeriod"
                            ></app-billing-period-state-badge>
                        </div>
                        <div>
                            {{ billingPeriod.invoiceCount }} invoices due on
                            {{ billingPeriod.due | date }}
                        </div>
                        <div>{{ billingPeriod.dollarsReceived | currency }} received</div>
                        <app-proportion-bar>
                            <app-proportion
                                *ngFor="
                                    let proportion of billingPeriodProportions[billingPeriod.name]
                                "
                                [proportion]="proportion.count"
                                [matTooltip]="proportion.tooltip"
                                [style.background-color]="proportion.colour"
                            ></app-proportion>
                        </app-proportion-bar>
                    </ng-container>
                </mat-card-content>
            </mat-card>

            <mat-card *ngIf="mailingListUsageChartOptions$ | async as chartOptions">
                <mat-card-header>
                    <mat-card-title>
                        <a
                            class="stealth-link"
                            [appPrimaryRouterLink]="['mailing-lists']"
                            >Mailing List Usage</a
                        >
                    </mat-card-title>
                    <mat-card-subtitle>In the last week</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <ag-charts [options]="chartOptions"></ag-charts>
                </mat-card-content>
            </mat-card>
        </div>
    </ng-template>
</app-page-wrapper>
