<mat-card>
    <img
        class="orchestrate-image"
        mat-card-image
        src="assets/orchestrate_logo_wide.svg"
        alt="Orchestrate logo"
    />
    <mat-card-content>
        <p>
            Orchestrate is a management system dedicated to supporting community music groups. The
            project was conceived by
            <a
                href="https://www.linkedin.com/in/julian-carrivick/"
                target="_blank"
                >Julian Carrivick</a
            >
            while he was part of the
            <a
                href="https://www.lacb.org.au"
                target="_blank"
                >Leeming Area Community Bands</a
            >
            and has since evolved into a full Software-as-a-Service solution, available to any
            community music group.
        </p>
        <div class="brand-container">
            <a
                href="https://orchestrate.community/"
                target="_blank"
                matTooltip="Learn more about Orchestrate"
            >
                <img
                    class="brand-icon"
                    src="favicon.png"
                    alt="Website"
                />
            </a>
            <a
                href="https://facebook.com/orchestrate.community"
                target="_blank"
                matTooltip="Orchestrate Facebook page"
            >
                <img
                    class="brand-icon"
                    src="assets/facebook.svg"
                    alt="Facebook"
                />
            </a>
            <a
                href="https://gitlab.com/maestro-software/orchestrate-platform"
                target="_blank"
                matTooltip="Orchestrate source code, hosted on GitLab"
            >
                <img
                    class="brand-icon"
                    src="assets/gitlab.svg"
                    alt="GitLab icon"
                />
            </a>
        </div>
    </mat-card-content>
</mat-card>
<mat-card>
    <img
        class="maestro-image"
        mat-card-image
        src="assets/maestro_software_logo_wide.svg"
    />
    <mat-card-content> Orchestrate is made with ❤️ by Maestro Software. </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title> Want to get in contact? </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Email us at
        <a href="mailto:contact&#64;orchestrate.community">contact&#64;orchestrate.community</a>.
    </mat-card-content>
</mat-card>
