// Hack to fix the mat-accordion -> mat-expansion-panel styling when wrapped in a component
:host-context(.mat-accordion) {
    .mat-expansion-panel:not(.mat-expanded),
    .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
        border-radius: 0;
    }

    :host:last-of-type .mat-expansion-panel {
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    :host:first-of-type .mat-expansion-panel {
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
    }
}
