<div *ngIf="billingPeriod">
    <div class="billing-period-header">
        <h4 class="billing-period-title">
            <a [routerLink]="['period', billingPeriod.id]">
                {{ billingPeriod!.name }}
            </a>
        </h4>

        <app-billing-period-state-badge
            *ngIf="!isClosed"
            [billingPeriod]="billingPeriod"
        ></app-billing-period-state-badge>
    </div>
    <dl>
        <ng-container *ngIf="isInDraftState && billingPeriod?.generated">
            <dt>Generated:</dt>
            <dd>{{ billingPeriod.generated | appDateTime }}</dd>
        </ng-container>
        <ng-container *ngIf="billingPeriod!.sent as sent">
            <dt>Sent:</dt>
            <dd>{{ sent | appDateTime }}</dd>
        </ng-container>
        <ng-container *ngIf="!isClosed && billingPeriod.earlyBirdDue">
            <dt>Early bird due:</dt>
            <dd [ngClass]="{ overdue: billingPeriod.earlyBirdDue < now }">
                {{ billingPeriod!.earlyBirdDue | date }}
            </dd>
        </ng-container>

        <dt>Due:</dt>
        <dd [ngClass]="{ overdue: !isClosed && billingPeriod.due < now }">
            {{ billingPeriod!.due | date }}
        </dd>

        <ng-container *ngIf="billingPeriod?.closed as closed">
            <dt>Closed:</dt>
            <dd>{{ closed | appDateTime }}</dd>
        </ng-container>
    </dl>
</div>
