<h1 mat-dialog-title>{{ title }}</h1>
<mat-dialog-content>
    <mat-form-field class="full-row">
        <mat-label>Description</mat-label>
        <input
            matInput
            [(ngModel)]="asset.description"
            required
        />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Quantity</mat-label>
        <input
            matInput
            type="number"
            min="0"
            step="1"
            [(ngModel)]="asset.quantity"
        />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Serial Number</mat-label>
        <input
            matInput
            [(ngModel)]="asset.serialNo"
        />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Date Acquired</mat-label>
        <input
            matInput
            [matDatepicker]="acquiredPicker"
            [(ngModel)]="asset.dateAcquired"
        />
        <mat-datepicker-toggle
            matIconSuffix
            [for]="acquiredPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #acquiredPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Value Paid</mat-label>
        <span matTextPrefix>$&nbsp;</span>
        <input
            matInput
            type="number"
            step="0.01"
            [(ngModel)]="asset.valuePaid"
        />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Date Discarded</mat-label>
        <input
            matInput
            [matDatepicker]="discardedPicker"
            [(ngModel)]="asset.dateDiscarded"
        />
        <mat-datepicker-toggle
            matIconSuffix
            [for]="discardedPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #discardedPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Value Discarded</mat-label>
        <span matTextPrefix>$&nbsp;</span>
        <input
            matInput
            type="number"
            step="0.01"
            [(ngModel)]="asset.valueDiscarded"
        />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Insurance Value</mat-label>
        <span matTextPrefix>$&nbsp;</span>
        <input
            matInput
            type="number"
            step="0.01"
            [(ngModel)]="asset.insuranceValue"
        />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Location</mat-label>
        <input
            matInput
            [(ngModel)]="asset.currentLocation"
        />
    </mat-form-field>
    <mat-form-field class="full-row">
        <mat-label>Notes</mat-label>
        <textarea
            matInput
            cdkTextareaAutosize
            [cdkAutosizeMinRows]="3"
            [cdkAutosizeMaxRows]="10"
            [(ngModel)]="asset.notes"
        ></textarea>
    </mat-form-field>
    <app-save-error
        *ngIf="saveError"
        [saveError]="saveError"
    ></app-save-error>
</mat-dialog-content>
<mat-dialog-actions>
    <app-save-cancel-buttons
        [entityTracker]="entityTracker"
        (save)="resolve(asset)"
        (cancel)="cancel()"
        (error)="saveError = $event"
    ></app-save-cancel-buttons>
</mat-dialog-actions>
