@use "form";

form {
    @include form.dialog-form();
}

.membership-type-icon {
    display: inline-flex;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}

app-save-error {
    position: sticky;
    bottom: 1px; // Slightly moves otherwise for some reason
    grid-column: 1 / span 2;
}
