<app-page-wrapper>
    <app-two-column-layout>
        <ng-container left-column>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Summary</mat-card-title>
                    <mat-card-subtitle>
                        Manage the access and roles that members have.
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Only members which have a log in to Orchestrate are shown on this list. To
                        invite members which are not on this list, go to the
                        <a [routerLink]="['../members']">members</a> area, find their name and click
                        the invite button.
                    </p>
                    <mat-divider></mat-divider>
                    <p>Each role gives access of varying levels to each area of Orchestrate:</p>
                    <dl>
                        <dt>Viewer</dt>
                        <dd>
                            Can view all non-sensitive data such as assets, music, ensembles &
                            performance history.
                        </dd>
                        <dt>Editor</dt>
                        <dd>
                            Can view and edit operational data such as assets, music, membership &
                            performance history.
                        </dd>
                        <dt>Committee Member</dt>
                        <dd>
                            Same permissions as Editor but also can:
                            <ul>
                                <li>View, but not edit, member billing data</li>
                                <li>
                                    Send to any mailing list, whether they are a recipient or not
                                </li>
                            </ul>
                        </dd>
                        <dt>Billing Administrator</dt>
                        <dd>
                            Can edit & manage member billing, such as editing, sending & marking
                            invoices as paid.
                        </dd>
                        <dt>Administrator</dt>
                        <dd>
                            Can view and edit all data and settings as well as manage users and
                            their access.
                        </dd>
                    </dl>
                </mat-card-content>
            </mat-card>
        </ng-container>
        <ng-container right-column>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Users</mat-card-title>
                </mat-card-header>
                <app-data-grid
                    *appLoadingUntilFirstEmit="let users of users$"
                    [displayActionsInToolbar]="true"
                >
                    <ag-grid-angular
                        appGridFillHeight
                        minHeight="500px"
                        [additionalBottomOffset]="16"
                        [columnDefs]="columns$ | async"
                        [rowData]="users"
                    />
                </app-data-grid>
            </mat-card>
        </ng-container>
    </app-two-column-layout>
</app-page-wrapper>
