[matListItemIcon] {
    margin-right: 1rem;
}

.attachment-details {
    display: flex;
    align-items: baseline;

    .attachment-name {
        flex: 0 1 auto;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .attachment-size {
        flex: 0;
        white-space: nowrap;
        margin-left: 0.25rem;
        font-size: 12px;
        color: var(--gray-500);
    }
}

.attachment-modified {
    font-size: 14px;
    color: var(--gray-500);
}

.file-icon[matListItemIcon],
.attachment-actions mat-icon {
    color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.87));
}

.attachment-actions {
    margin-left: 0.5rem;

    button + button {
        margin-left: -0.5rem;
    }
}

.upload-files-header {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.upload-error {
    font-size: 14px;
    color: var(--warn-500);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.upload-list-item {
    height: auto;
    padding-top: 0.25rem;
}

.select-files-item {
    height: auto;
}
