<app-help-center-page helpTitle="Assets">
    <p>
        Orchestrate does simple asset tracking by allowing you to store information about the assets
        you own. Additionally, you can attach any documents associated with the asset such as an
        invoice from the purchase, or insurance records. Orchestrate can also track loans of assets
        to members, such as a loan of an instrument that the member doesn't own.
    </p>

    <app-help-data-hook-call-to-action
        [dataHooks]="assetHooks$ | async"
        callToActionText="Add an asset"
    >
        Add some assets to get started.
    </app-help-data-hook-call-to-action>
</app-help-center-page>
