<app-data-grid [showFilter]="false">
    <ag-grid-angular
        [rowData]="lineItems$ | async"
        [columnDefs]="columnDefs$ | async"
        editType="fullRow"
        domLayout="autoHeight"
        (rowEditingStarted)="updateRowHeight($event, 72)"
        (rowEditingStopped)="updateRowHeight($event, null)"
    >
    </ag-grid-angular>
</app-data-grid>
<div class="data-grid-footer">
    <div class="invoice-total"><strong>Total:</strong> {{ invoiceTotal$ | async | currency }}</div>
    <div
        *ngIf="canEdit$ | async"
        class="add-button"
    >
        <button
            mat-icon-button
            (click)="createInvoiceItem()"
        >
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>
