@use "dl";
@use "responsive";

.two-column-container {
    @include responsive.grid-min-max-cols(1, 2, 450px, 1rem, 1rem);
}

.left-column,
.right-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

mat-card-header {
    margin-bottom: 0.5rem;
}

h3 {
    font-weight: 500;
}

mat-divider + h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}

dl {
    margin-top: 0.5rem;
    @include dl.mobile-friendly-dl();
}

.view-invoice-link mat-icon {
    font-size: inherit;
    vertical-align: middle;
}

.plan-selection-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.plan-icon {
    height: 60px;
    width: auto;
    max-width: 150px;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.plan-name {
    font-size: 20px;
    font-weight: 300;
    line-height: 2rem;
}

.plan-line {
    line-height: 1.5rem;
}

.nfp-plan {
    text-decoration: line-through;
}

.max-member-hint {
    font-size: 12px;
    margin-bottom: 0.25rem;
}

.promo-code {
    width: 100%;
    margin-bottom: 0.5rem;
}

.stripe-link-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;

    .stripe-link {
        display: inline-flex;
        width: 150px;
    }
}
