<form
    *ngIf="form"
    [formGroup]="form"
>
    <mat-form-field>
        <mat-label>Occasion</mat-label>
        <input
            matInput
            formControlName="occasion"
        />
        <mat-error appBreezeFormControlNameError="occasion"></mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Date</mat-label>
        <input
            matInput
            [matDatepicker]="datePicker"
            formControlName="date"
        />
        <mat-datepicker-toggle
            matIconSuffix
            [for]="datePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
        <mat-error appBreezeFormControlNameError="date"></mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Location</mat-label>
        <input
            matInput
            formControlName="location"
        />
        <mat-error appBreezeFormControlNameError="location"></mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Notes</mat-label>
        <textarea
            matInput
            cdkTextareaAutosize
            [cdkAutosizeMinRows]="3"
            [cdkAutosizeMaxRows]="10"
            formControlName="notes"
        ></textarea>
        <mat-error appBreezeFormControlNameError="notes"></mat-error>
    </mat-form-field>
</form>
