<app-page-wrapper>
    <button
        page-action
        mat-icon-button
        matTooltip="Add"
        (click)="addEnsemble()"
    >
        <mat-icon>add</mat-icon>
    </button>

    <app-two-column-layout>
        <ng-container left-column>
            <app-chip-selection
                [chips]="ensembleChips"
                [selection]="[selectedStatus$.value]"
                (selectionChange)="updateStatus($event[0])"
            ></app-chip-selection>

            <mat-card>
                <mat-card-header>
                    <mat-card-title>Ensemble list</mat-card-title>
                    <mat-card-subtitle>
                        Largest and highest performing ensembles are displayed first
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content *appLoadingIfUndefined="let ensembleStats of ensembleStats$">
                    <ng-container *ngFor="let stats of ensembleStats">
                        <mat-divider></mat-divider>
                        <div class="ensemble-card">
                            <h4>
                                <mat-icon>group</mat-icon>
                                <a
                                    class="stealth-link"
                                    [routerLink]="[stats.id]"
                                >
                                    {{ stats.name }}
                                </a>
                            </h4>
                            <div
                                class="data"
                                *ngIf="selectedStatus$.value === EnsembleStatus.Active"
                            >
                                <mat-icon>face</mat-icon>
                                <a
                                    class="stealth-link"
                                    [routerLink]="[
                                        stats.id,
                                        { view: EnsembleDataView.CurrentMembers },
                                    ]"
                                >
                                    {{ stats.currentMemberCount }} members
                                </a>
                            </div>
                            <div class="data">
                                <mat-icon>event</mat-icon>
                                <a
                                    class="stealth-link"
                                    [routerLink]="[stats.id, { view: EnsembleDataView.Concerts }]"
                                >
                                    {{ stats.performanceCount }} concerts
                                </a>
                            </div>
                        </div>
                    </ng-container>
                </mat-card-content>
            </mat-card>
        </ng-container>

        <ng-container right-column>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Membership Summary</mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <ng-container
                        *appLoadingUntilFirstEmit="let chartOptions of ensembleSummaryChartOptions$"
                    >
                        <ag-charts
                            *ngIf="hasChartData(chartOptions); else elseChartTemplate"
                            [options]="chartOptions"
                        ></ag-charts>
                        <ng-template #elseChartTemplate>
                            No ensembles to display, create one above.
                        </ng-template>
                    </ng-container>
                </mat-card-content>
            </mat-card>
        </ng-container>
    </app-two-column-layout>
</app-page-wrapper>
