<router-outlet #outlet="outlet"></router-outlet>

<app-help-center-page
    *ngIf="!outlet.isActivated"
    [prependCurrentPageHelp]="false"
>
    <ng-container *ngIf="currentPageHelp$ | async as currentPageHelp; else noHelpTemplate">
        <ng-container *ngIf="currentPageHelp.length > 0">
            <p>We have the following help available for this page:</p>
            <ul>
                <li *ngFor="let page of currentPageHelp">
                    <a [appHelpRouterLink]="page.commands">{{ page.name }}</a>
                </li>
            </ul>
        </ng-container>

        <p *ngIf="currentPageHelp.length > 0; else noHelpTemplate">
            Alternatively, browse available topics below:
        </p>
    </ng-container>

    <ng-template #noHelpTemplate>
        <p>Browse available topics below:</p>
    </ng-template>
    <ul>
        <li *ngFor="let page of allHelp">
            <a [appHelpRouterLink]="page.commands">{{ page.name }}</a>
        </li>
    </ul>
    <p>
        Still stuck? Email us at
        <a href="mailto:contact@orchestrate.community">contact&#64;orchestrate.community</a>
    </p>
</app-help-center-page>
