@use "responsive";

:host {
    display: block;
    height: 100%;
    background-color: var(--gray-50);
}

.container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    h1 {
        margin: 0;
    }
}

.my-groups-container {
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @include responsive.desktop-only() {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

li {
    background-color: white;
    border: 1px solid var(--gray-500);
    border-radius: 4px;
    padding: 1px;

    a {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1.5rem 2rem;
        text-decoration: none;
        color: inherit;
    }

    h3 {
        margin: 0;
    }

    &:hover {
        border: 2px solid var(--primary-500);
        background: var(--gray-100);
        padding: 0;
    }
}

img {
    max-height: 80px;
    max-width: 100%;
    margin-bottom: 1rem;
}
