@use "dl";

[mat-card-image] {
    object-fit: contain;
    max-height: 360px;
}

dl {
    @include dl.mobile-friendly-dl();

    dt.notes {
        margin-top: 0.5rem;
    }
    dd.notes {
        margin-left: 0;
    }
    .notes {
        grid-column: 1 / -1;
    }
}

mat-card + mat-card {
    margin-top: 1rem;
}

div[right-column] {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
