<app-help-center-page helpTitle="Music Library">
    <p>
        The music library is where we keep track of all of the sheet music that your organisation
        owns, as well as music that may have been performed but you do not have a copy. Orchestrate
        allows you to store all of the useful information about a piece of music so that you can
        easily search your library when it is populated rather than rifling through filing cabinets.
    </p>
    <p>
        As well as storing information about the music, Orchestrate also allows you to upload
        digital versions of the scores to be easily accessed. You can restrict access to your
        committee, or make it open to all of your members. Of course, ensure you have a legitimate
        digital copy and take measures to prevent members from distributing the music further than
        your group.
    </p>

    <app-help-data-hook-call-to-action
        [dataHooks]="helpData$ | async"
        callToActionText="Add music"
    >
        Alright, enough of the theory, let's get our hands dirty.
    </app-help-data-hook-call-to-action>
</app-help-center-page>
