<app-help-center-page
    helpTitle="Get Started"
    [padContent]="false"
    [prependCurrentPageHelp]="false"
>
    <mat-vertical-stepper
        [selectedIndex]="step$ | async"
        (selectionChange)="stepChange($event)"
    >
        <mat-step
            label="Welcome"
            [completed]="stepCompletion['Welcome']"
        >
            <p>
                <ng-container *ngIf="isFirstRun$ | async; else normalWelcomeTemplate">
                    Welcome to Orchestrate and thank you registering!
                </ng-container>
                <ng-template #normalWelcomeTemplate> Welcome to Orchestrate! </ng-template>
            </p>

            <p>
                To get you acquainted, let's take you on a tour across each major piece of
                functionality. Here on the home page we have an overview of the important
                information in your group.

                <ng-container *ngIf="isFirstRun$ | async; else linkExplainationTemplate">
                    When we've added some data, you will also
                </ng-container>
                <ng-template #linkExplainationTemplate> You will also </ng-template>
                see some links as you hover your mouse over various parts of the page which allows
                you to explore this data in more detail.
            </p>

            <p>
                At any time, minimise this help by clicking the help button in the top navigation
                bar and maximise it by clicking it again.
            </p>

            <p *ngIf="isFirstRun$ | async">
                There's not much going on at the moment, but hang with us and we'll start populating
                some data 🙂
            </p>

            <p>Let's continue to see how Orchestrate handles ensembles.</p>
            <button
                mat-raised-button
                color="primary"
                matStepperNext
            >
                Start tour
            </button>
        </mat-step>
        <mat-step
            *ngFor="let step of steps"
            [label]="(isFirstRun$ | async) ? step.firstRunLabel : step.stepLabel"
            [completed]="isStepCompleted(step.step)"
        >
            <p>
                {{ step.summary }}
            </p>

            <p *ngIf="isFirstRun$ | async">
                {{ step.firstRunPrompt }}
            </p>

            <button
                mat-raised-button
                color="primary"
                (click)="navigateToStepCallToAction(step)"
            >
                {{ (isFirstRun$ | async) ? step.callToActionText : "Learn more" }}
            </button>
            <button
                mat-stroked-button
                color="primary"
                matStepperNext
            >
                Skip
            </button>
            <button
                mat-stroked-button
                color="primary"
                matStepperPrevious
            >
                Back
            </button>
        </mat-step>
        <mat-step
            label="All done!"
            [completed]="stepCompletion['Done']"
        >
            <p>
                Thanks for sticking with us and exploring Orchestrate. We hope you enjoy using it!
            </p>
            <p>
                Remember you can always bring up the help center by clicking the button at the very
                top of the screen. And if you are ever stuck, or just want to get in touch please
                <a href="mailto:contact@orchestrate.community">get in contact</a>!
            </p>
            <button
                mat-stroked-button
                color="primary"
                (click)="closeHelp()"
            >
                Finish
            </button>
            <button
                mat-stroked-button
                color="primary"
                matStepperPrevious
            >
                Back
            </button>
        </mat-step>
    </mat-vertical-stepper>
</app-help-center-page>
