<div
    *appLoadingUntilFirstEmit="let tenant of tenant$"
    class="billing-settings"
>
    <mat-card>
        <mat-card-header>
            <mat-card-title>General</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="form-grid">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input
                        matInput
                        type="text"
                        [(ngModel)]="tenant.name"
                        required
                    />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Abbreviation</mat-label>
                    <input
                        matInput
                        type="email"
                        [(ngModel)]="tenant.abbreviation"
                        disabled
                        required
                    />
                    <mat-hint>The unique part of your Orchestrate URL</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Contact Email</mat-label>
                    <input
                        matInput
                        type="email"
                        required
                        [(ngModel)]="tenant.contactAddress"
                    />
                    <mat-hint>Used to convey important Orchestrate updates</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Timezone</mat-label>
                    <input
                        matInput
                        type="text"
                        required
                        disabled
                        [(ngModel)]="tenant.timeZone"
                    />
                    <mat-hint>Used to correctly calculate end of day reminders</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Website</mat-label>
                    <input
                        matInput
                        type="text"
                        [(ngModel)]="tenant.website"
                    />
                    <mat-hint>Used in communications with your members</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Date Founded</mat-label>
                    <input
                        matInput
                        [(ngModel)]="tenant.dateFounded"
                        [matDatepicker]="foundedPicker"
                        [max]="now"
                    />
                    <mat-datepicker-toggle
                        matIconSuffix
                        [for]="foundedPicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #foundedPicker></mat-datepicker>
                    <mat-hint>Displayed on the home page</mat-hint>
                </mat-form-field>
            </div>
            <div class="logo-container">
                <img
                    [src]="logo$ | async"
                    alt="Group logo"
                />
                <button
                    type="button"
                    mat-raised-button
                    color="primary"
                    (click)="fileInput.click()"
                >
                    Select logo
                </button>
                <input
                    #fileInput
                    type="file"
                    accept="image/png, image/jpeg"
                    hidden
                    (change)="onFileSelected(tenant)"
                />
                <!-- mat-error class hack to get same colour as form errors -->
                <div
                    *ngIf="logoValidationError$ | async as logoError; else hintTemplate"
                    class="mat-error"
                >
                    {{ logoError }}
                </div>
                <ng-template #hintTemplate>
                    <div class="mat-hint">PNG or JPEG are accepted</div>
                </ng-template>
            </div>
        </mat-card-content>
    </mat-card>
</div>
